* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
}
.main-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-image: url(../img/main-background.jpg);
  height: 600px;
  width: 1000px;
  background-size: cover;
  background-position: center;
}
.table-order {
  width: 300px;
  height: 50px;
  font-size: 18px;
}
.order-btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: black;
  background-color: rgba(97, 189, 97, 0.76);
  cursor: pointer;
}

.menu-background {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  background-image: url(../img/menu-background.jpg);
  height: 700px;
  width: 1500px;
  background-size: cover;
  background-position: center;
}

.food-card {
  display: block;
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 11px;
  cursor: pointer;
}
ion-icon {
  width: 40px;
  height: 40px;
}

/* Menu List css */

.menu-item {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 9%;

  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.close-icon {
  display: none;
}

.menu {
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 65%;
  right: 9%;
  bottom: 0;
  z-index: 99;
  background-color: rgba(110, 165, 202, 0.856);

  padding-top: 4rem;
}

.show-menu {
  transform: translateY(0);
}
.food-info {
  display: block;
  width: 400px;
  height: 500px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 11px;
  cursor: pointer;
}

.food-info-img {
  width: 100%;
  margin-top: -120px;
}
.pizza-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
a {
  text-decoration: none !important;
}

.back-arrow {
  width: 100px;
  height: 90px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 9%;
  cursor: pointer;
  color: rgb(101, 170, 216);
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.food-info-img-2 {
  width: 300px;
  border-radius: 50%;
}

.food-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.food-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 100px;
}

.background {
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url(../img/menu-background.jpg);
  height: 700px;
  width: 1500px;
  background-size: cover;
  background-position: center;
}
.add-btn {
  display: block;
  text-align: center;
  background-color: rgba(10, 163, 10, 0.863);
  border-radius: 11px;
  padding: 10px 10px;
  font-size: 18px;
  cursor: pointer;
}

.orders-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ordered {
  height: 50px;
  width: 700px;
  background-color: rgba(0, 0, 0, 0.589);
}
